
.editor {
    -fx-background-color: white;
}

.textpane {
    -fx-padding: 5px 0px 0px 0px;
}

.caret {
    -fx-fill: #d080d0;
}

.line {
    -fx-background-color: white;
    -fx-padding: 0px 0px 0px 5px;
}

.line .text {
    -fx-fill: black;
}

.line.current {
    -fx-background-color: #ffddff;
}

.document-view {
    -fx-background-color: white;
}

.document-view .scrollpane {
    -fx-background-color: white;
}