
.editor {
    -fx-background-color: white;
    -fx-background-color: #555;
}

.textpane {
    -fx-padding: 5px 0px 0px 0px;
}

.caret {
    -fx-fill: #d080d0;
}

.line {
    -fx-background-color: white;
    -fx-background-color: #555;
    -fx-padding: 0px 0px 0px 5px;
}

.line .text {
    -fx-fill: #eee;
    -fx-font-smoothing-type: lcd;
}

.line.current {
    -fx-background-color: #ffddff;
    -fx-background-color: #777;
}

.scrollpane {
    -fx-background-color: #555;
}